.custom-header{
    background-color: #0B1420;
    width: 1440px;
    height:68px;
}
.header-logo{
    width:34.98px;
    height:44px;
    margin-top: 12px;
    margin-left:5px;
}
.header-slogon{
    width:102px;
    height:38px;
    margin-top:19px;
    margin-left:20px;
}